.code__block {
  background-color: hsl(0, 0%, 96.5%);
  border-radius: 5px;
  color: hsl(210, 8%, 20%);
  font-size: 13px;
  margin: 12px 0px;
  padding: 12px 12px;
  overflow: auto;
  max-width: 500px;
}
